In [ ]:
#1st problem

if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    print(list([i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1)  if i+j+k !=n))

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

In [ ]:
#2nd problem

Result = []
scorelist = []

if __name__ == '__main__':
    for _ in range(int(input())):
        name = input()
        score = float(input())
        Result+=[[name,score]]
        scorelist+=[score]
    b=sorted(list(set(scorelist)))[1] 
    for a,c in sorted(Result):
        if c==b:
            print(a)

5
harry
37.21
berry
37.21
tina
37.2
akriti
41
harsh
39
berry
harry

In [ ]:
#3rd problem

if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    output = list(student_marks[query_name])    
per = sum(output)/len(output);
print("%.2f" % per);

3
krishna 67 68 69
arjun 70 98 63
malika 52 56 60
malika
56.00

In [ ]:
# 4th problem

if __name__ == '__main__':
    N = int(input())
    lst = []
    for _ in range(N):
        cmd, *values = input().split()
        values = tuple(map(int, values))
        if cmd == "print":
            s = f"{cmd}(lst)"
        else:
            s = f"lst.{cmd}{values}"
        eval(s)

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

In [ ]:
#5th problem

if __name__ == '__main__':
    n = int(input())
    integer_list = map(int, input().split())
    t = tuple(integer_list)
    print(hash(t));

2
1 2
-3550055125485641917

In [ ]:
# 6th problem

def average(array):
     my_set = set(array)
     avg = sum(my_set)/len(my_set)
    
     return (avg)

if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    result = average(arr)
    print(result)

10
161 182 161 154 176 170 167 171 170 174
169.375

In [1]:
# 7th problem

n, m = input().split()

sc_ar = input().split()

A = set(input().split())
B = set(input().split())
print(sum([(i in A) - (i in B) for i in sc_ar]))

3 2
1 5 3
3 1
5 7
1

In [2]:
# 8th problem

a,b = [set(input().split()) for _ in range(4)][1::2]
print('\n'.join(sorted(a^b, key=int)))

4
2 4 5 9
4
2 4 11 12
5
9
11
12

In [3]:
# 9th problem

a = set()
[a.add(input()) for _ in range(int(input()))]
print(len(a))

7
uk
china
india
france
new zealand
uk
india
5

In [9]:
# 10th problem

n = int(input())
s = set(map(int, input().split()))

num = int(input())
for i in range(num):
    ip = input().split()
    if ip[0]=="remove":
        s.remove(int(ip[1]))
    elif ip[0]=="discard":
        s.discard(int(ip[1]))
    else :
        s.pop()
print(sum(list(s)))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 8
discard 9
remove 5
pop
discard 6
remove 7
pop
discard 5
4

In [10]:
# 11th problem

n, N = (int(input()), set(map(int, input().split())))
b, B = (int(input()), set(map(int, input().split())))
print(len(N.union(B)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
13

In [11]:
# 12th problem

num1, st1, num2, st2 = (set(input().split()) for i in range(4))
print(len(st1.intersection(st2)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
5

In [12]:
# 13th problem

num1, st1, num2, st2 = (set(input().split()) for i in range(4))
print(len(st1.difference(st2)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
4

In [13]:
# 14th problem

num1, st1, num2, st2 = (set(input().split()) for i in range(4))
print(len(st1.symmetric_difference(st2)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
8

In [14]:
# 15th problem

if __name__ == '__main__':
    (_, A) = (int(input()),set(map(int, input().split())))
    B = int(input())
    for _ in range(B):
        (command, newSet) = (input().split()[0],set(map(int, input().split())))
        getattr(A, command)(newSet)

    print (sum(A))

16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
intersection_update 10
2 3 5 6 8 9 1 4 7 11
update 2
55 66
symmetric_difference_update 5
22 7 35 62 58
difference_update 7
11 22 35 55 58 62 66
38

In [16]:
# 16th problem

k,arr = int(input()),list(map(int, input().split()))

myset = set(arr)

print(((sum(myset)*k)-(sum(arr)))//(k-1))

5
4291 240 4231 99 2727 1566 110 3166 4046 752 4236 414 926 1521 3322 1112 497 888 1280 3631 524 3999 461 4552 1742 2790 3220 1608 547 2897 1006 3551 2881 1753 1785 796 2793 4103 1668 520 1454 767 1406 1699 2155 3401 2920 3169 298 1969 774 2566 546 3417 2035 1376 3007 870 3767 241 767 674 1259 3838 77 991 2639 2699 1500 4478 2706 3664 3576 1079 842 1359 1034 372 3824 1662 1177 2072 4269 3203 2252 192 1923 2471 266 4161 2899 2629 1029 2077 1253 275 1552 1835 3863 2628 108 85 1420 4183 2457 2611 4503 3388 1727 3840 2668 3596 373 807 316 203 117 3455 2739 578 3827 1639 71 4377 629 956 487 2651 1127 1254 1700 1365 3964 3234 2546 562 1003 308 1531 4466 4141 1189 752 1807 1837 1878 2944 3422 1399 1605 3347 2649 198 1730 4276 3834 4577 3533 3567 3951 1968 2345 2809 1503 2299 3067 2298 2053 4321 1255 684 4444 3658 4411 3232 422 247 4169 535 4368 13 2183 2635 621 4046 2174 2430 2938 4444 181 4131 1403 1479 2149 1931 46 4237 347 3759 228 2820 332 3083 3387 356 3421 4343 2198 923 1294 2483 2799 959 677 2994 4585 2870 13
449133

In [1]:
# 17th problem

for _ in range(int(input())):
    x, a, z, b = input(), set(input().split()), input(), set(input().split())
    print(a.issubset(b))1

3
5
 2 3 5 6
9
9 8 5 6 3 2 1 4 7
True
1
2
5
3 6 5 4 1
False
7
1 2 3 5 6 8 9
3
9 8 2
False

In [2]:
# 18th problem

set_A = set(map(int, input().split()))
result = True
for _ in range(int(input())):
    if set_A.issuperset(set(map(int, input().split()))) is not True:
        result = False
        break
print(result)

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False